@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

html,
body {
  height: 100%; /* ✔️ Height specified - will fix issue */
}

.header.is-sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  margin-top: 0;
  z-index: 99999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.9);
}

.contentSubstractHeader {
  height: 100dvh;
}

@media (min-width: 576px) {
  .contentSubstractHeader {
    height: calc(100vh - 201px);
  }
}
